c_alizarin = #e74c3c
c_amethyst =#9b59b6
c_clouds = #ecf0f1
c_emerald = #2ecc71
c_greensea = #16a085
c_midnight = #2c3e50
c_pomegranate = #c0392b
c_river = #3498db
c_wisteria = #8e44ad
c_dark_red = #8e2000
c_light_pink = #e79d95
c_hot_pink = #e92c6c
c_dim_pink = #b60039
c_brown = #412917
c_heroku = #5f5d84
c_grayish = #4b525a

c_turquoise = #1686a2
c_white = #fafafa
c_yellow = #f3dc52

