include description

meta(property='og:image', itemprop='image', content='http://bevacqua.io/img/buildfirst/cover.jpg')
meta(property='og:image', itemprop='image', content='http://bevacqua.io/img/popcorn/800.jpg')
meta(property='og:image', itemprop='image', content='http://bevacqua.io/img/me.jpg')

meta(name='twitter:image:src', content='http://bevacqua.io/img/buildfirst/cover.jpg')

meta(property='og:url', itemprop='url', content='http://bevacqua.io/buildfirst/resources')
link(rel='canonical', href='http://bevacqua.io/buildfirst/resources')
