extends /layout

block title
    title oops! &middot; bevacqua.io

block content
    main.er-main
        article.er-container
            h1.er-title Oh no! Something went tremendously wrong.

            :markdown
                Sorry about that. Untrained _drunken_ monkeys are attempting to solve the issues at hand.

                You totally should [visit my blog](http://blog.ponyfoo.com "My blog on Pony Foo") while I fix these issues!

                **Send a tweet my way** so I can fix this! Thanks.

            iframe(
                allowtransparency, frameborder='0', scrolling='no',
                src='https://platform.twitter.com/widgets/tweet_button.html?dnt=true&count=none&text=%40nzgb%20https%3A%2F%2Fbevacqua.io%2F%20is%20throwing%20502%20errors%2C%20care%20to%20take%20a%20look%3F%20Thanks%2C%20I%27ll%20be%20reading%20your%20blog%21'
                style='width:130px; height:20px;'
            )
