nav.hd-nav
    ul.hd-list
        li.hd-item
            a.hd-link.ty-icon.ic-io(href='/', title='bevacqua.io')

        li.hd-item
            a.hd-link(href='/about', title='About me') about

        li.hd-item
            a.hd-link(href='/buildfirst', title='JavaScript Application Design: A Build First Approach') #buildfirst

        li.hd-item-separator

        block more
