header
    nav
        ul.hd-list
            li.hd-item
                a.hd-link(href='/', title='bevacqua.io') bevacqua.io

            li.hd-item
                a.hd-link(href='/buildfirst', title='Build First: JavaScript Applications') Build First