nav.hd-nav
    ul.hd-list
        li.hd-item
            a.hd-link.ty-icon.ic-io(href='/', title='bevacqua.io')

        li.hd-item
            a.hd-link(href='/buildfirst', title='Build First: JavaScript Applications') #buildfirst