doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='shortcut icon', href='/favicon.ico')

        title bevacqua.io

        each src in stylesheets
            link(rel='stylesheet', href=src)
    body
        include header

        main
            block content

        each src in scripts
            script(src=src)