//
    |             Yay !
    |                                     __|_\_
    |                                   =u__.-.__)
    |           http://bevacqua.io         /_/
    != '\n'
    != '          Build ' + pkg.version + '\n\n'

doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        block title
            title bevacqua.io

        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='author', href='/humans.txt')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900')

        each src in stylesheets
            link(rel='stylesheet', href=src)

    body.io-body.io-font
        block content

        each src in javascripts
            script(src=src)
