//- site info
meta(property='og:site_name', content='bevacqua.io')

//- author info
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@nzgb')
meta(name='twitter:creator', content='@nzgb')

link(rel='author', href='/humans.txt')

meta(name='author', itemprop='creator', content='Nicolas Bevacqua &lt;ng@bevacqua.io&gt;')

block meta
  // as many as we need, this one should go at the bottom
  meta(property='og:image', itemprop='image', content='/img/me.jpg')

  //- twitter uses the last image: repeat the first one
  //- meta(name='twitter:image:src', content='{{firstImage}}')

  //- page info
  //- meta(name='twitter:title', itemprop='name', property='og:title', content='{{title}}')
  //- meta(name='description', property='og:description', itemprop='description', content='{{description}}')
  //- meta(name='twitter:description', content='{{description}}')

  //- static url
  //- meta(property='og:url', itemprop='url', content='{{url}}')
  //- link(rel='canonical', href='{{url}}')
