.er-main
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    padding 20px
    font-weight 100
    background-color c_midnight
    color c_clouds

    a
        color c_river

.er-container
    max-width 700px
    margin 0 auto

.er-title
    display inline-block
    padding-bottom 8px
    border-bottom 10px solid
    color c_alizarin
