.tk-container
    background-color c_hot_pink

.tk-slides
    max-width 800px
    margin 0 auto
    padding 40px 0

.tk-talks
    padding 40px

.tk-talk
    list-style none

.tk-link
    display block
    text-decoration none
    font-size 3em
    color c_yellow
