extends /layout

block title
    title about &middot; bevacqua.io

block content
    main.am-container
        header
            include header-nav

        section.am-header bevacqua.io

        article.am-article
            section.am-section
                :markdown
                    Hi there! I'm [Nicolas Bevacqua](/about "About me"), a full-stack developer who loves his job. You can find me blogging on **Pony Foo**, just _click on the rainbows_ below. I _mostly_ write about JavaScript and the open web.

            p.am-center
                a.am-image-link(href='http://blog.ponyfoo.com/', title='My blog at Pony Foo')
                    img.am-image-ponyfoo(src='/img/ponyfoo.png', alt='')

        article.am-article.am-hub
            section.am-section
                :markdown
                    When I'm not writing something in plain english, I'm pushing code to my **GitHub** account. I maintain a few open source utilities. These are a few of the projects I'm working on:

                    - Deployments are hard, even more so if you want to automate them. I wrote [grunt-ec2](https://github.com/bevacqua/grunt-ec2 "grunt-ec2 on GitHub"), the best Grunt plugin out there for automating deployments to **AWS EC2**. It even lets you _spin up new EC2 instances_, filled with `nginx`, and `pm2`, and configuring it is trivial.
                    - [unbox](https://github.com/bevacqua/unbox "unbox on GitHub") is a Node.js project template that contains a complete Grunt workflow that enables continuous development and deployments.
                    - This website is definitely [Open Source](https://github.com/bevacqua/io "io on GitHub") as well.
                    - I open sourced [my blog](https://github.com/bevacqua/ponyfoo "ponyfoo on GitHub") from the very beginning, th

                    You can click on the image below to find my **GitHub** account and all the projects I'm working on.

            p.am-center
                a.am-image-link(href='https://github.com/bevacqua', title='My account on GitHub')
                    img.am-image-hub(src='/img/hub.png', alt='')
