extends /header-nav

block more
    li.hd-small-item
        a.hd-small-link(href='/blog', title='My blog on Pony Foo', target='_blank') Blog

    li.hd-small-item
        a.hd-small-link(href='/code', title='My account on GitHub', target='_blank') Code

    li.hd-small-item
        a.hd-small-link(href='/career', title='My career on Stack Overflow', target='_blank') Career

    li.hd-small-item
        a.hd-small-link(href='/twitter', title='My account on Twitter', target='_blank') Twitter
