extends /header-nav

block more
    li.hd-small-item
        a.hd-small-link(href='/blog', title='My blog on Pony Foo') Blog

    li.hd-small-item
        a.hd-small-link(href='/code', title='My account on GitHub') Code

    li.hd-small-item
        a.hd-small-link(href='/career', title='My career on Stack Overflow') Career

    li.hd-small-item
        a.hd-small-link(href='/twitter', title='My account on Twitter') Twitter
