extends /layout

block content
    main.ln-container
        header
            include /header-nav

        section.ln-header bevacqua.io

        article.ln-description
            | JavaScript enthusiast. Beer gobbler. Shameless blogger.
            | Architecture fanatic. UX perfectionist.
            | Unicorn lover. Ugly nerd.
