extends /layout

block content
    main.ln-container
        header
            include /header-nav

        section.ln-header bevacqua.io

        article.ln-description
            section.ln-me
                :markdown
                    Hi there! I'm [Nicolas Bevacqua](/about "About me"), a full-stack developer who loves his job. You can find me blogging on **Pony Foo**, just _click on the rainbows_ below. I _mostly_ write about JavaScript and the open web.

            p.ln-center
                a.ln-ponyfoo(href='http://blog.ponyfoo.com/', title='My blog at Pony Foo')
                    img.ln-ponyfoo-rainbow(src='/img/ponyfoo.png', alt='')
