- var description = 'Write clean JavaScript applications that deploy with the push of a button.\n\nLearn how to craft a workflow that increases your development productivity and reduces issues during deployments. Automate that workflow using Grunt, minimizing manual labor.\n\nImprove your architecture design process, as well. Learn how to write proper, maintainable, and modular JavaScript code.';

meta(name='twitter:title', itemprop='name', property='og:title', content='Designing Javascript Applications #buildfirst')
meta(name='description', property='og:description', itemprop='description', content=description)
meta(name='twitter:description', content=description)
