include description

meta(property='og:image', itemprop='image', content='/img/buildfirst/cover.jpg')
meta(property='og:image', itemprop='image', content='/img/beer/800.jpg')
meta(property='og:image', itemprop='image', content='/img/me.jpg')

meta(name='twitter:image:src', content='/img/buildfirst/cover.jpg')

meta(property='og:url', itemprop='url', content='/buildfirst')
link(rel='canonical', href='/buildfirst')
