extends /layout

block title
    title JavaScript Application Design #buildfirst resources &middot; bevacqua.io

block meta
    include meta/resources

block content
    main.bf-main.rs-main
        header.bf-header-bg.rs-header
            include header-nav

            section.rs-header-description
                h1.bf-header-title.rs-header-title Access reference links, get the code
                h3.bf-header-pitch.rs-header-pitch For your convenience, all the resources mentioned in the book can be found below, in case you're too busy to type them into your browser by hand. You'll find the complete companion code for the book here as well.

            section.sl-container
                include sharing

        ul.rs-list
            each resource in buildfirst.links
                if resource.title
                    li.rs-item
                        span(class='ty-icon bfr-icon bfr-' + resource.key)
                        a(href='/bf/' + resource.key, target='_blank', class='ty-icon rs-link ic-' + resource.type, title=resource.url)=resource.title
                        div.rs-description!=resource.description

        footer.rs-footer
            section.rs-broken-links
                span.rs-broken-note If you notice any broken links, please let me know! Just send me a tweet.
                include resources-broken-link-tweet

            section.sl-container
                include sharing
