.bf-name
  margin-bottom 10px

.bf-tagline
  margin-top 10px
  font-style italic
  color c_gray

.bf-teaser
  padding 10px 20px
  margin 20px -20px
  background-color c_turquoise
  color c_white

.bf-teaser-link
  color c_yellow

  &:hover
    color c_turquoise

.bf-actions
  line-height 30px

.bf-cover
  margin-top 20px
  text-align center

.bf-cover-image
  display block
  margin 0 auto

@media only screen and (min-width: 900px)
  .bf-section
    display table-cell
    vertical-align top

  .bf-cover
    width 420px
    padding-left 20px

  .bf-cover-image
    display block
    width 100%
