.hm-name
  margin-bottom 10px

.hm-role
  margin-top 10px
  font-style italic
  color c_gray

.hm-photo
  display block
  margin 0 auto

.hm-photo-disclaimer
  font-style italic

@media only screen and (min-width: 680px)
  .hm-section
    display table-cell
    vertical-align top

  .hm-photo-section
    padding-left 30px
    width 397px
