.md-markdown
  img
    margin 1em 0

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  p
    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  a
    padding-bottom 0

  ul,
  ol
    margin-left 5px

  li
    > ul,
    > ol
      margin-left 15px

.md-markdown-inline
  display inline

  p
    display inline

.md-code-block
  padding 0 15px

.md-code-block .md-code
  display block
