.nv-list
  display block
  list-style-type none
  margin 0
  padding 0

.nv-link
  display block
  padding 10px

.nv-home
  background-color c_yellow

.nv-consulting
  color c_pink
  border-bottom-color c_pink
  border-right 2px dotted c_pink
  border-radius 3px

  &:hover
    border-right-style solid

@media only screen and (min-width: 680px)
  .nv-item
    display inline-block
    background-color lighten(c_yellow, 60%)

  .nv-link
    display inline-block
    vertical-align top
