.nv-anchor
  border-top 3px solid c_yellow
  background-color lighten(c_yellow, 60%)

  &:before
    content 'Welcome!'
    font-weight bold
    margin-right 5px

  &:after
    content 'Tap here for navigation'

.nv-list
  border-top 3px solid c_yellow
  display block
  list-style-type none
  line-height inherit
  margin 0
  padding 0

.nv-link
  display block
  padding 10px

  &:hover
    color c_pink
    border-bottom-color inherit

@media only screen and (min-width: 800px)
  .nv-anchor
    visibility hidden

  .nv-nav
    position absolute
    top 0
    left 0
    right 0

  .nv-item
    display inline-block
    background-color lighten(c_yellow, 60%)

  .nv-link
    display inline-block
    vertical-align top

  .nv-last
    border-right 2px dotted darken(c_yellow, 10%)
    border-bottom-right-radius 3px

    &:hover
      border-right-color inherit
      border-right-style solid

  .nv-home
    background-color c_yellow

  .nv-top
    display none
