.osp-container
  margin 0 -20px
  padding 20px
  background-color lighten(c_yellow, 70%)

  &:nth-child(even)
    background-color lighten(c_yellow, 80%)

.osp-name
  float left
  margin-top 0
  margin-bottom 10px

.osp-meta
  float right
  color c_gray
  font-size 10px
  line-height 24px

.osp-updated
  margin-right 5px

.osp-teaser
  clear both
  margin-top 0
  font-style italic
  color c_gray

.osp-screenshot-container
  text-align center

.osp-screenshot-link
  display inline-block
  border-bottom none
  max-width 100% // because firefox

  &:hover
    border-bottom none
    background-color transparent

@media only screen and (min-width: 680px)
  .osp-container
    display inline-block
    vertical-align top
    width 50%
    margin 0 20px 20px -20px

    &:nth-child(even)
      margin 0 -20px 20px 20px

@media only screen and (min-width: 1040px)
  .osp-container
    width 33.33333%

    &:nth-child(3n+1)
      margin 0 10px 20px -20px

    &:nth-child(3n+2)
      margin 0 -20px 20px 10px

    &:nth-child(3n+3)
      margin 0 -20px 20px 40px
