.am-container
    background-color c_alizarin
    color c_clouds

.am-header, .am-article
    padding 20px

.am-header
    font-size 3.2em
    font-weight 900
    text-shadow 1px 0 0 rgba(0,0,0,0.1)
    text-align center
    color #fafafa

.am-article
    max-width 600px

.am-section
    a
        padding 2px
        font-weight 700
        text-decoration none
        transition all 1s ease-in-out
        background-color c_pomegranate
        background-color rgba(0,0,0,0.3)
        color c_yellow

        &:hover
            background-color transparent

    li
        list-style-type binary
        margin 10px 0

.am-center
    text-align center

.am-image-link
    display inline-block

.am-image-ponyfoo
    border 10px solid c_pomegranate

.am-hub
    background-color c_emerald

.am-image-hub
    border 10px solid c_greensea
