.am-container
    background-color c_midnight
    padding-bottom 30px

.am-header, .am-article
    padding 20px

.am-header
    font-size 3em
    font-weight 900
    text-shadow 1px 0 0 rgba(0,0,0,0.1)
    text-align center
    color #fafafa

    selection-background-foreground-shadow(#fafafa, c_midnight, 0 1px 3px rgba(#000, 0.2))

@media only screen and (min-width: 768px)
    .am-header
        font-size 3.5em

.am-article
    margin 0 auto 30px
    max-width 600px
    font-weight 100
    color c_clouds
    border 10px solid transparent

.am-section
    a
        padding 2px
        font-weight 700
        text-decoration none
        transition all 1s ease-in-out
        background-color rgba(0,0,0,0.3)
        color c_yellow

        selection-background-foreground(c_clouds, #434343)

        &:hover
            background-color transparent

    li
        list-style-type binary
        margin 10px 0

.am-center
    text-align center

.am-image-link
    display inline-block

.am-image
    border 10px solid transparent
    transition all 0.5s ease-in-out

    &:hover
        opacity 0.7
        border-color rgba(0,0,0,0.4)

.am-blog, .am-image-blog
    border-color c_pomegranate

.am-hub, .am-image-hub
    border-color c_greensea

.am-bio, .am-image-bio
    border-color c_wisteria

.am-blog
    background-color c_alizarin

    selection-background-foreground(c_clouds, c_pomegranate)

.am-hub
    font-weight 300 // hard to read due to background color, otherwise
    background-color c_emerald
    color c_midnight

    selection-background-foreground(c_clouds, c_greensea)

.am-bio
    background-color c_amethyst

    selection-background-foreground(c_clouds, c_wisteria)

.am-bio-anchor
    margin-top -20px
    position absolute

.am-image-bio
    max-width 100%
