.am-container
    background-color c_midnight
    padding-bottom 30px

.am-header, .am-article
    padding 20px

.am-header
    font-size 3.2em
    font-weight 900
    text-shadow 1px 0 0 rgba(0,0,0,0.1)
    text-align center
    color #fafafa

.am-article
    margin 0 auto 30px
    max-width 600px
    font-weight 100
    color c_clouds

.am-section
    a
        padding 2px
        font-weight 700
        text-decoration none
        transition all 1s ease-in-out
        background-color c_pomegranate
        background-color rgba(0,0,0,0.3)
        color c_yellow

        &:hover
            background-color transparent

    li
        list-style-type binary
        margin 10px 0

.am-center
    text-align center

.am-image-link
    display inline-block

.am-blog
    background-color c_alizarin

.am-blog, .am-image-blog
    border 10px solid c_pomegranate

.am-hub
    background-color c_emerald

.am-hub, .am-image-hub
    border 10px solid c_greensea

.am-bio
    background-color c_amethyst

.am-bio-anchor
    margin-top -20px
    position absolute

.am-bio, .am-image-bio
    border 10px solid c_wisteria

.am-image-bio
    max-width 100%
