.bf-header-bg
    background c_dark_red
    background-repeat no-repeat
    background-position center top
    background-size cover

.bf-header-title
    color #fff
    font-size 48px
    font-weight 900
    text-shadow 0 1px 3px rgba(#000, 0.8)

    selection-background-foreground-shadow(#fff, c_yellow, 0 1px 3px rgba(#000, 0.2))

.bf-header-pitch
    padding 15px
    text-align justify
    color c_dark_yellow
    font-size 22px
    font-weight 300

    selection-background-foreground-shadow(#fff, #111, 0 1px 3px rgba(#fff, 0.1))