// promotion

.bf-header-landing
    background-image url('/img/beer/800.jpg')

@media only screen and (min-width: 768px)
    .bf-header-landing
        background-image url('/img/beer/1200.jpg')

@media only screen and (min-width: 1024px)
    .bf-header-landing
        background-image url('/img/beer/1600.jpg')

.bf-book
    min-height 650px
    margin 0 20px
    padding-bottom 20px
    text-align center

.bf-book-cover
    margin-top 30px
    box-shadow 0px 0px 8px 2px rgba(#fff, 0.2)

.bf-book-hint
    margin-top 25px

.bf-book-pitch
    border-left 10px solid c_yellow
    background-color rgba(#000, 0.25)
    color c_yellow
    text-align center
    font-weight 100

@media only screen and (min-width: 768px)
    .bf-book-title
        margin-top 0

    .bf-book-cover, .bf-book-hint
        display inline-block
        vertical-align top

    .bf-book-cover
        margin-right 45px

    .bf-book-pitch
        text-align left

    .bf-book-hint
        display inline-block
        max-width 400px

@media only screen and (min-width: 768px) and (max-width: 1223px)
    .bf-book
        position relative

    .bf-book-pitch
        position absolute
        left 0
        right 0
        bottom 0
        margin 20px auto
        max-width 720px
        font-weight 300 // better clarity in medium-sized devices

@media only screen and (min-width: 1224px)
    .bf-book-cover
        margin-right 60px

    .bf-book-title
        max-width 600px

    .bf-book-hint
        max-width 650px

// introduction

.bf-introduction
    padding 0 20px 20px
    border-top 3px solid rgba(#000, 0.2)
    background-color c_light_pink
    color c_brown

    links()

    selection-background-foreground-shadow(#fff, c_dark_red, 0 1px 3px rgba(c_dark_red, 0.2))


.bf-introduction-title
    color #fff
    text-shadow 0 1px 3px rgba(c_dark_red, 0.8)
    font-size 1.4em
    text-align center

.bf-introduction-text
    margin 0 auto
    max-width 450px
    line-height 1.4em

// footer

.bf-footer
    padding-top 40px
    background-color c_light_pink
