.bf-header-resources
    background-image url('/img/house/awesome.jpg')

.bf-resources-description
    min-height 650px
    margin 0 20px
    padding-bottom 20px
    text-align center

.bf-resources-pitch
    margin -20px
    background-color #333
    background-color rgba(#000, 0.2)

@media only screen and (min-width: 768px)
    .bf-resources-description
        min-height 450px
        max-width 790px
        margin 0 auto

    .bf-resources-pitch
        margin 0 auto
        max-width 600px