c_dark_yellow = darken(c_yellow, 15%)

.bf-header
    background c_blue
    background-image url('/img/beer/beer-1200.jpg')
    background-repeat no-repeat
    background-position center top
    background-size cover

.bf-book
    min-height 650px
    margin 0 20px
    padding-bottom 20px
    text-align center

.bf-book-cover
    margin-top 30px
    box-shadow 0px 0px 8px 2px rgba(#fff, 0.2)

.bf-book-description
    margin-top 25px

.bf-book-title
    color #fff
    font-size 48px
    font-weight 900
    text-shadow 0 1px 3px rgba(#000, 0.8)

    selection-background #fff
    selection-color c_yellow
    selection-shadow 0 1px 3px rgba(#000, 0.2)

.bf-book-pitch
    padding 15px
    text-align justify
    border-left 10px rgba(#fff, 0.5) solid
    background-color rgba(c_dark_yellow, 0.8)
    color #444
    font-size 22px
    font-weight 300
    text-shadow 0 1px 3px rgba(#fff, 0.2)

    selection-background #fff
    selection-color #111
    selection-shadow 0 1px 3px rgba(#fff, 0.1)

@media only screen and (min-width: 768px)
    .bf-book-title
        margin-top 0

    .bf-book-cover, .bf-book-description
        display inline-block
        vertical-align top

    .bf-book-cover
        margin-right 45px

    .bf-book-description
        display inline-block
        max-width 400px

@media only screen and (min-width: 768px) and (max-width: 1223px)
    .bf-book
        position relative

    .bf-book-pitch
        position absolute
        left 0
        right 0
        bottom 0
        margin 20px auto
        max-width 720px

@media only screen and (min-width: 1224px)
    .bf-book-cover
        margin-right 60px

    .bf-book-description
        max-width 650px

.bf-section
    margin 20px
    padding 15px
    background #fff
    box-shadow 1px 1px 1px 3px rgba(0, 0, 0, 0.5)








