c_dark_yellow = darken(c_yellow, 15%)
c_dark_red = #8e2000 // taken from beer background color palette
c_light_red = #e74c3c

@import "bf-landing"

.bf-sections
    background-color c_light_red
    padding 20px
    text-align center

.bf-section-title
    color #fff
    font-size 40px
    font-weight 100
    text-shadow 0 1px 3px rgba(c_dark_red, 0.8)

    selection-background-foreground-shadow(#fff, c_dark_red, 0 1px 3px rgba(c_dark_red, 0.2))







