.hd-list
    margin 0
    padding 0
    list-style-type none
    cursor default // prevent text cursor
    background-color rgba(#000, 0.3)

.hd-item
    display inline-block
    vertical-align middle

.hd-link
    text-decoration none
    display block
    padding 4px
    color #fff
    font-weight 100
    font-size 24px

    selection-background c_yellow

    &:hover
        color c_yellow