.hd-list
    margin 0
    padding 0
    list-style-type none
    cursor default // prevent text cursor
    background-color rgba(#000, 0.35)

.hd-item, .hd-small-item
    display inline-block
    vertical-align middle

// on larger screens, collapse sub-sections to parent line
@media only screen and (min-width: 768px)
    .hd-item-separator
        display inline-block
        vertical-align sub

        &:before
            color #fff
            content '\00b7';

.hd-small-item
    vertical-align sub

.hd-link, .hd-small-link
    text-decoration none
    display block
    padding 4px
    color c_clouds
    font-weight 300
    font-size 1.5em

    selection-background c_yellow

    &:hover
        color c_yellow

.hd-small-link
    font-size 0.9em
    color c_clouds

.bf-header
    .hd-link, .hd-small-link
        color #000
