.hd-list
    margin 0
    padding 0
    list-style-type none
    cursor default // prevent text cursor
    background-color c_greensea

.hd-item
    display inline-block
    vertical-align middle

.hd-link
    display block
    padding 4px
    color rgba(0,0,0,0.5)

    &:hover
        color rgba(255,255,255,0.6)