.ln-container
    background-color c_alizarin
    color c_clouds

.ln-header, .ln-description
    padding 20px

.ln-header
    font-size 3.2em
    font-weight 900
    text-shadow 1px 0 0 rgba(0,0,0,0.1)
    text-align center
    color #fafafa

.ln-me a
    padding 2px
    font-weight 700
    text-decoration none
    transition all 1s ease-in-out
    background-color c_pomegranate
    background-color rgba(0,0,0,0.3)
    color c_yellow

    &:hover
        background-color transparent

.ln-center
    text-align center

.ln-ponyfoo
    display inline-block

.ln-ponyfoo-rainbow
    border 10px solid c_pomegranate
