.ln-container
    background-color c_alizarin

.ln-header, .ln-description
    padding 20px

.ln-header
    font-size 3.2em
    font-weight 900
    color c_clouds
    text-shadow 1px 0 0 rgba(0,0,0,0.1)
    text-align center
