.ln-container
    background-color c_alizarin
    color c_clouds

.ln-header, .ln-article
    padding 20px

.ln-header
    font-size 3.2em
    font-weight 900
    text-shadow 1px 0 0 rgba(0,0,0,0.1)
    text-align center
    color #fafafa

.ln-article
    max-width 600px

.ln-section
    a
        padding 2px
        font-weight 700
        text-decoration none
        transition all 1s ease-in-out
        background-color c_pomegranate
        background-color rgba(0,0,0,0.3)
        color c_yellow

        &:hover
            background-color transparent

    li
        list-style-type binary
        margin 10px 0

.ln-center
    text-align center

.ln-image-link
    display inline-block

.ln-image-ponyfoo
    border 10px solid c_pomegranate

.ln-hub
    background-color c_emerald

.ln-image-hub
    border 10px solid c_greensea
