.rs-header
    background-image url('/img/house/awesome.jpg')

.rs-header-description
    min-height 650px
    margin 0 20px
    padding-bottom 20px
    text-align center

.rs-header-title, .rs-header-pitch
    selection-background-foreground-shadow(c_emerald, #ddd, 0 1px 3px rgba(c_emerald, 0.1))

.rs-header-pitch
    margin -20px
    color c_emerald
    background-color rgba(#111, 0.6)
    text-shadow 0 1px 3px rgba(#000, 0.1)

@media only screen and (min-width: 768px)
    .rs-header-description
        min-height 450px
        max-width 790px
        margin 0 auto

    .rs-header-pitch
        margin 0 auto
        max-width 600px
