.rs-list
    margin 0
    padding 20px 0
    text-align center
    list-style-type none
    background-color c_yellow

.rs-item
    margin 0 20px
    padding 10px
    text-align left

    selection-background-foreground-shadow(#000, #ddd, 0 1px 3px rgba(#000, 0.2))

    &:hover
        background-color rgba(#fff, 0.1)
        box-shadow 1px 1px 6px rgba(0, 0, 0, 0.1)

.rs-link
    position relative
    display block
    font-size 1.4em
    font-weight 300
    padding 8px 8px 8px 48px
    transition all 0.2s ease-in-out
    color c_greensea

    &:before
        position absolute
        top 50%
        left 45px
        margin-top -16px
        margin-left -40px

    &:hover
        color #444
        background-color c_emerald
        box-shadow 1px 1px 6px rgba(0,0,0,0.3)

.rs-description
    font-size 1.1em
    font-weight 300
    color #444

    a
        font-weight 700
        text-decoration none
        color c_greensea

        &:hover
            color c_emerald

    blockquote
        margin 0
        padding-left 20px
        border-left 10px solid c_greensea

@media only screen and (max-width: 767px)
    .rs-item:not(:first-child)
        border-top 2px dashed c_greensea

    .rs-link
        text-align center

@media only screen and (min-width: 768px)
    .rs-item
        max-width 350px
        display inline-block
        vertical-align top
        margin-bottom 20px

