.rs-list
    margin 0
    list-style-type none
    background-color c_yellow

.rs-item
    margin 0
    padding 10px 0

.rs-link
    color c_greensea
    font-size 22px
    font-weight 300

    selection-background-foreground-shadow(#000, #ddd, 0 1px 3px rgba(#000, 0.2))

    &:hover
        color c_emerald

.rs-description
    font-size 18px
    font-weight 300
    color #444

    selection-background-foreground-shadow(#000, #ddd, 0 1px 3px rgba(#000, 0.2))