.rs-list
    margin 0
    padding 20px 0
    text-align center
    list-style-type none
    background-color c_yellow

.rs-item
    margin 0 20px
    padding 10px
    text-align left

    selection-background-foreground-shadow(#000, #ddd, 0 1px 3px rgba(#000, 0.2))

    &:hover
        background-color #ccc
        background-color rgba(#fff, 0.1)

.rs-link
    display block
    font-size 22px
    font-weight 300
    padding 8px
    transition all 0.2s ease-in-out
    color c_greensea

    &:before
        margin-right 8px

    &:hover
        color #444
        background-color c_emerald

.rs-description
    font-size 18px
    font-weight 300
    color #444

    a
        font-weight bold
        text-decoration none
        color c_greensea

        &:hover
            color c_emerald

@media only screen and (max-width: 767px)
    .rs-item:not(:first-child)
        border-top 1px solid c_greensea

    .rs-link
        text-align center

@media only screen and (min-width: 768px)
    .rs-item
        max-width 350px
        display inline-block
        vertical-align top