box-sizing()
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    box-sizing arguments

selection-color()
    &::-webkit-selection
        color arguments

    &::-moz-selection
        color arguments

    &::selection
        color arguments

selection-background()
    &::-webkit-selection
        background arguments

    &::-moz-selection
        background arguments

    &::selection
        background arguments

selection-shadow()
    &::-webkit-selection
        text-shadow arguments

    &::-moz-selection
        text-shadow arguments

    &::selection
        text-shadow arguments