.sl-container
    display none

@media only screen and (min-width: 768px)
    .sl-container
        display block
        padding 10px 0
        text-align center
        background-color rgba(#000, 0.1)

.sl-tweet
    width 130px
    height 20px

.sl-gplus
    width 130px
    height 28px

.sl-fb
    width 130px
    height 21px

.sl-github
    width 85px
    height 20px
