.sl-container
    display none

// only display in larger~ish screens
@media only screen and (min-width: 600px)
    .sl-container
        display block
        padding-top 10px
        text-align center
        background-color rgba(#000, 0.1)

.sl-tweet
    vertical-align top
    width 100px
    height 20px

.sl-mention
    vertical-align top
    width 110px
    height 20px

.sl-gplus
    vertical-align top
    width 90px
    height 28px

.sl-fb
    vertical-align top
    width 130px
    height 21px

.sl-buffer
    vertical-align top
    width 110px
    height 21px

.sl-hn
    vertical-align top
    width 100px
    height 21px

.sl-lnkdn
    vertical-align top
    display inline-block

.sl-lnkdn-btn
    height 18px // let height determine width
    padding 2px 5px // breathing room
    box-sizing content-box // turn off border-box
    border-radius 3px
    box-shadow 1px 1px 6px rgba(#000, 0.3)
    background-color #fff

    &:hover
        opacity 0.95
