extends /header-nav

block more
    li.hd-small-item
        a.hd-small-link.js-meap-header(href='/bf/book', title='Get the book through the Manning Early Access Program!', target='_blank') Early Access!

    li.hd-small-item
        a.hd-small-link(href='/buildfirst/resources', title='Resources and References') Resources

    li.hd-small-item
        a.hd-small-link(href='/bf/code', title='Companion Code Repository', target='_blank') Companion Code
