extends /layout

block content
    h1.bf-title Build First: JavaScript Applications

    // background image with book
    section
        header
            | What is
            b Build First
            | ?
        ul
            li A different approach to application building
            li 

    section
        header What will you learn from the book?
        ul
            li How to approach any application (not just JavaScript ones) adopting a Build First mentality
            li How to develop maintainable JavaScript architectures?