extends /layout

block title
    title #buildfirst &middot; bevacqua.io

block meta
    include meta/landing

block content
    main.bf-main
        header.bf-header-bg.bf-header-landing
            include header-nav

            section.bf-book
                div.bf-book-promo
                    a.bf-book-link.js-manning-cover(href='http://www.manning.com/bevacqua/', target='_blank', title='Get the book from Manning!')
                        img.bf-book-cover(src='/img/buildfirst/cover.jpg')
                    a.bf-book-link.bf-sample-link.js-manning-sample(href='http://www.manning.com/bevacqua/', target='_blank', title='Get the book from Manning!')
                        | Download sample chapters for free here!

                div.bf-book-hint
                    h1.bf-header-title.bf-book-title Write clean JavaScript applications that deploy with the push of a button
                    h3.bf-header-pitch.bf-book-pitch
                        | You already know JavaScript, but do you know how to design a scalable application? Try
                        strong #buildfirst
                        | !

            section.sl-container
                include sharing

        article.bf-introduction
            header.bf-introduction-title
                h1 Designing Javascript Applications
                h2 A Build First Approach

            section.bf-introduction-text
                :markdown
                    ### Build Early, Build Always

                    Learn how to craft a workflow that increases your development productivity and reduces issues during deployments. Automate that workflow using [Grunt](http://gruntjs.com/ "Grunt: JavaScript Task Runner"), and _master_ **Continuous Development, Integration, and Deployment**. _Minimize manual labor_, while keeping productivity in check.

                    Concretely, the book teaches the _importance_ of a **Build Process**, and once that's out of the way, we will examine how to , using **Grunt**. Grunt is a _[Node.js](http://nodejs.org/ "Node.js is a platform built on V8")-based_ task automation utility, equivalent to more widely known tools such as [Make](http://www.gnu.org/software/make/ "GNU Make Build Tool"), or [Ant](http://ant.apache.org/ "Apache Ant"). Grunt is more _modern_, _faster_ to learn, and _written in JavaScript_, becoming an ideal choice for the book, which **focuses on the process and the tasks**, not _just_ on the tooling.

                    ### Design Early, Design Often

                    Design your application early, but also _explore techniques_ to keep it in check continuously using [Continuous Design](http://www.martinfowler.com/ieeeSoftware/continuousDesign.pdf "Fowler on Continuous Design") techniques. Write _modular, cleaner, and easily testable_ code.

                    ### Learn from Practical Examples

                    Scattered throughout the book we will find _tons of code samples_, all carefully crafted, ready to use and mold to your needs, and **ideal to learn from**. The samples are _well-documented_ too, each having _an individual description_ which will let us understand what we're looking at, why we need to learn it, and how we might accomplish it.

        footer.bf-footer
            section.sl-container
                include sharing
