extends /layout

block content
    h1.bf-title Write clean JavaScript applications that deploy with the push of a button
    div
        | You already know JavaScript, and are looking to design an architecture?
        | Learn how to craft a workflow that increases your development productivity and reduces issues during deployments.
        | At the same time, learn how to make your code cleaner, more robust, and scalable.

    // background image with book
    section
        header
            | What is
            b Build First
            | ?
        ul
            li A different approach to application building
            li 

    section
        header What will you learn from the book?
        ul
            li How to approach any application (not just JavaScript ones) adopting a Build First mentality
            li How to develop maintainable JavaScript architectures?