extends /layout

block title
    title #buildfirst &middot; bevacqua.io

block content
    main.bf-main
        header.bf-header-bg.bf-header-landing
            include header-nav

            section.bf-book
                img.bf-book-cover(src='/img/buildfirst/cover.jpg')
                div.bf-book-description
                    h1.bf-header-title.bf-book-title Write clean JavaScript applications that deploy with the push of a button
                    h3.bf-header-pitch.bf-book-pitch
                        | You already know JavaScript, and are looking to design an architecture?
                        | Learn how to craft a workflow that increases your development productivity and reduces issues during deployments.
                        | At the same time, learn how to make your code cleaner, more robust, and scalable.

        article.bf-sections
            section.bf-section
                header.bf-section-title
                    | What is 
                    b Build First
                    | ?
                ul
                    li An innovative approach to JavaScript application building
                    li 

            section
                header What will you learn from the book?
                ul
                    li How to approach any application (not just JavaScript ones) adopting a Build First mentality
                    li How to develop maintainable JavaScript architectures?