extends /layout

block title
    title #buildfirst &middot; bevacqua.io

block content
    main.bf-main
        header.bf-header-bg.bf-header-landing
            include header-nav

            section.bf-book
                img.bf-book-cover(src='/img/buildfirst/cover.jpg')
                div.bf-book-description
                    h1.bf-header-title.bf-book-title Write clean JavaScript applications that deploy with the push of a button
                    h3.bf-header-pitch.bf-book-pitch
                        | You already know JavaScript, but do you know how to design a scalable application? Try
                        strong #buildfirst
                        | !

        article.bf-introduction
            header.bf-introduction-title
                h1 Designing Javascript Applications
                h2 A Build First Approach

            section
                :markdown
                    #### Build Early, Build Always

                    Learn how to craft a workflow that increases your development productivity and reduces issues during deployments. Automate that workflow using [Grunt](http://gruntjs.com/ "Grunt: JavaScript Task Runner"), and _master_ **Continuous Development, Integration, and Deployment**. _Minimize manual labor_, while keeping productivity in check.

                    #### Design Early, Design Often

                    Design your application early, but also _explore techniques_ to keep it in check continuously using [Continuous Design](http://www.martinfowler.com/ieeeSoftware/continuousDesign.pdf "Fowler on Continuous Design") techniques. Write _modular, cleaner, and easily testable_ code.

