extends /layout

block title
    title #buildfirst &middot; bevacqua.io

block content
    main.bf-main
        header.bf-header-bg.bf-header-landing
            include header-nav

            section.bf-book
                img.bf-book-cover(src='/img/buildfirst/cover.jpg')
                div.bf-book-description
                    h1.bf-header-title.bf-book-title Write clean JavaScript applications that deploy with the push of a button
                    h3.bf-header-pitch.bf-book-pitch
                        | You already know JavaScript, and are looking to design an architecture?
                        | Learn how to craft a workflow that increases your development productivity and reduces issues during deployments.
                        | At the same time, learn how to make your code cleaner, more robust, and scalable.

        section.bf-intro
            header.bf-intro-title
                h1 Designing Javascript Applications
                h2 A Build First Approach

            :markdown
                Large JavaScript applications are becoming increasingly popular and a more structured approach to application building is in order. The Build First philosophy is here to help us cover that necessity.

                Throughout the book you'll find information about build processes and the importance of putting one together as early as possible in your application development lifetime, while keeping productivity in check. You'll also pick up techniques to run tasks whenever your code changes, deploy your application using just one command, and monitor the state of your application once it's live in production.

                As you read on, you'll pick up ways to improve your development process, enabling you to design and develop well-rounded application architectures for both the browser and the Node.JS platform. You'll find examples along the way to guide you through the thought process, as well as an entire section of the book, which is dedicated to validate the Build First concepts by example.






