body
  border-top 3px solid c_yellow
  background-color lighten(c_yellow, 90%)
  font-family f_roboto

body
  color c_black

p
  line-height 24px

blockquote
  position relative
  margin 20px 0
  margin 0
  padding 12px 12px 12px 48px

  &:before
    content '“'
    font-family Georgia, serif
    color c_turquoise
    position absolute
    top 15px
    left 8px
    font-size 65px
    font-weight 700
    line-height 40px
    margin-right 10px

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    margin-top 0
