a
  color c_turquoise
  text-decoration none
  border-bottom 2px dotted darken(c_yellow, 30%)
  transition background-color 0.15s ease-in-out

  &:hover
    background-color lighten(c_yellow, 30%)
    border-bottom-style solid
